@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Development of Fisheries and Aquatic Resources,<br />
    Maligawaththa,<br />
    Colombo - 10.<br/>
    <abbr title="Phone">011 240 0400</abbr>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:fisheries@gmail.com">Fisheries@gmail.com</a><br />
</address>